*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# IDE-specific files
appInsightsSettings.xml
deploymentTargetSelector.xml
git_toolbox_blame.xml
gradle.xml
kotlinc.xml
migrations.xml
misc.xml
runConfigurations.xml
vcs.xml

gradle.properties

# IntelliJ / Android Studio
.idea/
